@model RationalVote.Models.Notification

<li class="left clearfix notification-@(Model.Read ? "read" : "unread")">
	<span class="notifications-img pull-left">
		<img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
	</span>
	<div class="notifications-body clearfix">
		<div class="header">
			<strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
				<i class="fa fa-clock-o"></i> @Model.Time
		</small>
	</div>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
		dolor, quis ullamcorper ligula sodales.
	</p>
</div>
</li>
