<li class="dropdown notification-dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" id="NotificationMenu">
		<i class="fa fa-bell-o messages-seen" id="NotificationBell"></i>&nbsp;<span class="badge" id="NotificationCount"></span>
	</a>
	<ul class="dropdown-menu">
		<li>
			<div class="panel-body notification-body" id="NotificationPanelBody">
			</div>
		</li>
	</ul>

	<audio id="notification_sound">
		<source src="~/Content/Sounds/jingles_PIZZA00.ogg" type="audio/ogg">
	</audio>
</li>
