
<span id="fb-root"></span>
<script>
	(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<span class="fb-like" data-href="https://www.facebook.com/rationalvoteuk" data-layout="button" data-action="like" data-show-faces="true" data-share="true" style="vertical-align:top;zoom:1;*display:inline"></span>

<a href="https://twitter.com/RationalVoteUK" class="twitter-follow-button" data-show-count="false">Follow @@RationalVoteUK</a>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

<!-- Place this tag where you want the widget to render. -->
<span class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/113849297615490056031" data-rel="publisher"></span>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
	window.___gcfg = { lang: 'en-GB' };

	(function () {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/platform.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
</script>