<style>
	.btn-facebook-inversed {
  background-color: #4863ae;
  border-color: #4863ae;
  color: white; }
  .btn-facebook-inversed:hover {
    background-color: transparent;
    color: #4863ae; }
</style>

<div class="reg-page">

	<div class="reg-header">
		<h2>Social login</h2>
	</div>

<div class="hcentered">
	<a href="@Url.Action( "FacebookLogin", "User" )">
		<button class="btn btn-block btn-lg btn-facebook-inversed">
			<i class="fa fa-facebook"></i> Connect with Facebook
		</button>
	</a>
</div>

</div>

