
<form class="reg-page" role="form" method="post" action="/login.php" accept-charset="UTF-8" id="login-nav">
	<div class="reg-header">
		<h2>Login to your account</h2>
	</div>

	<div class="input-group">
		<label class="sr-only" for="email">Email address</label>
		<span class="input-group-addon"><span class="fa fa-envelope"></span></span>
		<input type="email" class="form-control" id="email" placeholder="Email address" name="email" required>
	</div><br />
	<div class="input-group">
		<label class="sr-only" for="password">Password</label>
		<span class="input-group-addon"><i class="fa fa-key"></i></span></span>
		<input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
	</div>
	<div style="height:3px">&nbsp;</div>
	<br />
	<label class="checkbox">
		<input type="checkbox" name="remember"> Stay signed in
	</label>
	<div style="height:3px">&nbsp;</div>
	<br />
	<div class="form-group">
		<button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
	</div>


	<hr>

	<h4>Forget your Password ?</h4>
	<p>You can <a href="/forgot.php">reset your password here</a>.</p>
</form>