@{
	ViewBag.BeastName = "tbrun2";
	ViewBag.Title = "500";
	Layout = "~/Views/Error/_ErrorLayoutInline.cshtml";
}

<p>Something went horribly wrong and we can't display this page for you. You can try again, but we can't make any promises!</p>
