
/*Additional customisation*/

h1
{
	margin-bottom: 0.5em;
}

.DebateInput
{

}

.DebateCounter
{

}

.RightButton
{
	float:right;
}

.AuthorBlockText
{
	vertical-align: middle;
}

.AuthorBlock a
{
	text-decoration: none;
}

.AuthorBlock
{
	text-align: right;
}

.DebateValid
{
	border-color: #2ecc71;
}

.DebateValid > .DebateHeading
{
	color: #fff;
	background: #2ecc71;
}

.DebateInvalid
{
	border-color: #e74c3c;
}

.DebateInvalid > .DebateHeading
{
	color: #fff;
	background: #e74c3c;
}

.DebateAmbiguous
{
	border-color: #e67e22;
}

.DebateAmbiguous > .DebateHeading
{
	color: #fff;
	background: #e67e22;
}

.DebateNoise
{
	border-color: #95a5a6;
}

.DebateNoise > .DebateHeading
{
	color: #fff;
	background: #95a5a6;
}

.DebateChildOuter
{
	margin-bottom: 20px;
}

.DebateOpinion
{
	margin-top: -20px;
	margin-bottom: 20px;
}

.DebateChild
{
	padding: 18px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

/*Block Headline*/
.DebateChildValid  {
	border-left: 4px solid #468847;
	background: #dff0d8;
}

.DebateChildInvalid  {
	border-left: 4px solid #b94a48;
	background: #f2dede;
}

.DebateChildAmbiguous  {
	border-left: 4px solid #c09853;
	background: #fcf8e3;
}

.DebateChildNoise  {
	border-left: 4px solid #95A5A6;
	background: #F5F5F5;
}

.progress-bar-disabled {
	background-color: #aaa;
}

.progress-bar-noise {
	background-color: #000;
}

a.navbar-brand
{
	background: url(images/logo.png) no-repeat top left;
	display: block;
	width: 260px;
	height: 45px;
	text-indent: -9999px; /* hides the link text */
	margin: 13px 20px -7px 0px;
}

.navbar-nav
{
	padding-top: 10px;
}

.header .navbar-brand
{
	height: 45px;
}

/* http://www.jlum.ws/post/2014/1/3/displaying-error-messages-in-callouts */

.field-validation-error {
	background: #d9534f;
	position: relative;
	padding: 8px 0px 8px 0px;
	box-shadow: 0px 0px 10px #AAA;
	min-height: 20px;
	margin-top: 5px;
	display: block;
	color: #fff;
}
 
.field-validation-error::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.75em solid transparent;
	position: relative;
	left: 13%;
	bottom: 30px;
	border-bottom: 13px solid #d9534f;
	float: left;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors bs-callout bs-callout-danger {
	font-weight: bold;
}

.validation-summary-valid {
	display: none;
}

.within-count {
}

.over-count {
	color: red;
	font-weight: bold;
}

/*Override counter font size*/
.counters span {
  font-size: 18px;
}

.counters span.counter-icon i {
   padding: 16px;
   min-width: 20px;
   font-size: 22px;
   position: relative;
}

.centering {
  float:none;
  margin:0 auto;
}

.DebateVoteCounter {
	/*padding-left: 5px;*/
	margin-top: 30px;
}

.counters span.counter-icon i:after {
	left: 33%;
   content: " "; 
   display: block; 
   position: absolute;
   border-left: 9px solid transparent;
   border-right: 9px solid transparent;
   border-left-style: inset; /*FF fixes*/
   border-right-style: inset; /*FF fixes*/
}

.thumbnail-style a.btn-more:hover {
	text-decoration: none;
	box-shadow: 0 0 0 0;
}

.thumbnail-style:hover a.btn-more {
	right: -10px;
}

.reg-page {
	height: 39em;
}

.hcentered {
	text-align:center;
}

ul.navbar-left {
	top: 6px !important;
}