
/*Additional customisation*/

.RightButton
{
	float:right;
}

.AuthorBlockText
{
	vertical-align: middle;
}

.AuthorBlock a
{
	text-decoration: none;
}

.AuthorBlock
{
	text-align: right;
}

.DebateValid
{
	border-color: #2ecc71;
}

.DebateValid > .DebateHeading
{
	color: #fff;
	background: #2ecc71;
}

.DebateInvalid
{
	border-color: #e74c3c;
}

.DebateInvalid > .DebateHeading
{
	color: #fff;
	background: #e74c3c;
}

.DebateAmbiguous
{
	border-color: #e67e22;
}

.DebateAmbiguous > .DebateHeading
{
	color: #fff;
	background: #e67e22;
}

.DebateNoise
{
	border-color: #95a5a6;
}

.DebateNoise > .DebateHeading
{
	color: #fff;
	background: #95a5a6;
}

.DebateChild
{
	margin: 20px 0;
	padding: 18px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-bottom: 0;
}

/*Block Headline*/
.DebateChildValid  {
	border-left: 4px solid #468847;
	background: #dff0d8;
}

.DebateChildInvalid  {
	border-left: 4px solid #b94a48;
	background: #f2dede;
}

.DebateChildAmbiguous  {
	border-left: 4px solid #c09853;
	background: #fcf8e3;
}

.DebateChildNoise  {
	border-left: 4px solid #95A5A6;
	background: #F5F5F5;
}

.progress-bar-disabled {
	background-color: #aaa;
}

.progress-bar-noise {
	background-color: #000;
}

a.navbar-brand
{
	background: url(images/logo.png) no-repeat top left;
	display: block;
	width: 260px;
	height: 45px;
	text-indent: -9999px; /* hides the link text */

	margin: 3px 20px 3px 0px;
}

/* http://www.jlum.ws/post/2014/1/3/displaying-error-messages-in-callouts */

.field-validation-error {
	background: #d9534f;
	position: relative;
	padding: 8px 0px 8px 0px;
	box-shadow: 0px 0px 10px #AAA;
	min-height: 20px;
	margin-top: 5px;
	display: block;
	color: #fff;
}
 
.field-validation-error::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.75em solid transparent;
	position: relative;
	left: 13%;
	bottom: 30px;
	border-bottom: 13px solid #d9534f;
	float: left;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors bs-callout bs-callout-danger {
	font-weight: bold;
}

.validation-summary-valid {
	display: none;
}

.within-count {
}

.over-count {
	color: red;
    font-weight: bold;
}