@{
	Layout = "~/Views/Shared/_Dialog.cshtml";
	ViewBag.DialogTitle = "Changing your profile picture";
	ViewBag.RenderDialog = true;	
}

<p>
	RationalVote uses Gravatar for profile pictures. To change your profile picture you will need to create a Gravatar account.
</p>

<br />

<a href="http://www.gravatar.com" target="_blank" class="btn btn-primary">Get started</a>