@{
	ViewBag.Title = "Home";
	ViewBag.WidePage = true;
	ViewBag.ShowTitle = false;
}

<!-- Jumbotron -->
<div class="jumbotron">
	<h1>Just a few examples</h1>
	<p class="lead">
		There are many ways that you can use RationalVote, here are just a few of our favourites.
	</p>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4 service">
			<div class="service">
				<i class="fa fa-legal service-icon"></i>
				<div class="desc">
					<h2>Policy</h2>
					<p>
						Debate a policy position and see the benefits and drawbacks of that policy.
						The loudest person in the room does not necessarily have the best ideas
						and with RationalVote all ideas are given equal weight until ideas have
						been valued by other users.
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-4 service">
			<div class="service">
				<i class="fa fa-thumbs-up service-icon"></i>
				<div class="desc">
					<h2>Making a decision</h2>
					<p>
						Weigh the pros and cons of a new strategy and get input from your peers.
						Determine what is important and what is not.
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-4 service">
			<div class="service">
				<i class="fa fa-question service-icon"></i>
				<div class="desc">
					<h2>Ask a question</h2>
					<p>
						Request answers to a question and pick the best available option.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>