@{
	ViewBag.Title = "For business";
	ViewBag.WidePage = true;
	ViewBag.ShowTitle = false;
}

<!-- CSS Style Page -->
<link rel="stylesheet" href="~/Content/Theme/WidePoints.css">

<!-- Jumbotron -->
<div class="jumbotron">
	<h1>Decision making for the digital age</h1>
	<p class="lead">
		A companies most important assets are its employees and the knowledge that those employees hold and share.
		RationalVote aims to help businesses leverage the knowledge of their employees to make smarter, faster decisions.
	</p>
	<p><a class="btn btn-md btn-success" href="/Business/More" role="button">Find out more</a></p>
</div>

<!--=== Content Part ===-->
<div class="one-page">
	<div class="one-page-inner one-default">
		<div class="container">
			<h1>Equality</h1>
			<div class="row">
				<div class="col-md-6">
					<p>
						RationalVote is all about equality. The best ideas can come from anywhere and by opening
						up topics of discussion to the largest possible audience, you can take a good idea and
						turn it into a great one.
					</p>
					<p>
						When employees share their knowledge, everybody wins. When the CEO and the intern can contribute
						as equals, the best solutions will be found. 
					</p>
				</div>
				<div class="col-md-6">
					<img src="~/Content/Theme/images/stock/img14.jpg" class="img-responsive margin-bottom-10" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="one-page-inner one-blue">
		<div class="container">
			<h1>A new forum</h1>
			<div class="row">
				<div class="col-md-6">
					<img src="~/Content/Theme/images/stock/img7.jpg" class="margin-bottom-10 img-responsive" alt="">
				</div>
				<div class="col-md-6">
					<p>
						By keeping posts short, conversations are razor sharp and concise. This keeps people focused
						on their work while allowing them to contribute to the conversation. Repeat arguments are
						discouraged and rigid structuring helps keep people focused on the task at hand.
					</p>
					<p>
						RationalVote is an entirely new kind of communication tool that has no direct analogue. It combines
						elements of web forums, Q&amp;A systems such as Stack Exchange and instant messaging to create a
						unique way for users to ask questions and get well reasoned answers.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
