@{
	ViewBag.Title = "For legislators";
	ViewBag.WidePage = true;
	ViewBag.ShowTitle = false;
}

<!-- CSS Style Page -->
<link rel="stylesheet" href="~/Content/Theme/WidePoints.css">

<!-- Jumbotron -->
<div class="jumbotron">
	<h1>Communication made easy</h1>
	<p class="lead">
		Communication is the foundation of a healthy democracy and RationalVote makes communication with your constituency a breeze.
		Interact and listen to thousands of your most active constituents in seconds; make informed decisions with ease and certainty.
	</p>
	<p><a class="btn btn-md btn-success" href="/Legislator/Register" role="button">Register as a site legislator</a></p>
</div>

<!--=== Content Part ===-->
<div class="one-page">
	<div class="one-page-inner one-default">
		<div class="container">
			<h1>Concise</h1>
			<div class="row">
				<div class="col-md-6">
					<p>
						The best ideas are simple and easy to express. RationalVote debates have a strict length
						limit that keeps debates on topic. Our systems allow users to see and
						express their commitment to a particular idea without repetition. This means it takes
						seconds not days to listen to the feedback of an entire community.
					</p>
				</div>
				<div class="col-md-6">
					<img src="~/Content/Theme/images/stock/img7.jpg" class="img-responsive margin-bottom-10" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="one-page-inner one-blue">
		<div class="container">
			<h1>Listen</h1>
			<div class="row">
				<div class="col-md-6">
					<img src="~/Content/Theme/images/stock/img9.jpg" class="margin-bottom-10 img-responsive" alt="">
				</div>
				<div class="col-md-6">
					<p>
						Reach your constituents quickly and get instant feedback.
						See things happen in real-time, or sit back and wait until the conclusion.
						You set the pace of your interaction.
					</p>
					<p>
						Want to know what your constituents feel about a particular idea? Start a quick poll
						and get instant feedback. Want a more in-depth discussion on a complex topic? Start a
						debate and watch as the two sides present their best arguments.
					</p>
					<p>
						RationalVote is designed <i>by</i> busy people <i>for</i> busy people. Our goal is to streamline
						the democratic process and make it more enjoyable and engaging for all.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="one-page-inner one-red">
		<div class="container">
			<h1>Efficient</h1>
			<div class="row">
				<div class="col-md-6">
					<p>
						The internet has become a great discussion platform, but for legislators it also brings new
						problems. With the advent of grassroot movements like 38 Degrees and Avaaz you have your attention
						brought on to new issues, but the deluge of emails all saying the similar, but slightly different things
						can be overwhelming and it doesn't feel like a great use of the platform.
					</p>
					<p>
						RationalVote will work with groups such as 38 Degrees to ensure that instead of getting a thousand emails
						on a topic, you get only one. Instead of responding to each email in turn, you can reply to the group
						and let them know your position.
					</p>
					<p>
						Many constituents want to know how their MP is planning to vote, and responding to these emails takes time
						and effort. Legislators may use the legislator dashboard to update their constituents on their position and
						feel the pulse of local and national opinion.
					</p>
				</div>
				<div class="col-md-6">
					<img src="~/Content/Theme/images/stock/img2.jpg" class="img-responsive margin-bottom-10" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="one-page-inner one-green">
		<div class="container">
			<h1>Direct, Digital Democracy</h1>
			<div class="row">
				<div class="col-md-6">
					<img src="~/Content/Theme/images/stock/img11.jpg" class="img-responsive margin-bottom-10" alt="">
				</div>
				<div class="col-md-6">
					<p>
						RationalVote is the first step towards a truly digital and direct democracy. Voter engagement is
						at an all time low and constituents want to feel their input is being heard, being considered and
						being actioned. With RationalVote the winning ideas are not just the most popular, but the best ideas.
						The ideas that prevail are logical, explored and <i>rational</i>. RationalVote brings the world of politics to
						the social media generation and aims to re-energise voters by letting them focus on what matters to them.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
