@{
	ViewBag.Title = "Home";
	ViewBag.WidePage = true;
}

<!-- Jumbotron -->
<div class="jumbotron">
	<h1>We the people</h1>
	<p class="lead">
		If you feel like the major parties do not speak for you, then you are not alone.
		We want to end the tribal bickering between the left and right. We want to end the pointless fighting over different flavours of the same ideology.
		We want a government that knows what we want and what we need. We are the people-powered rationalist party that politics needs.
		<br /><br />
		At RationalVote policies are debated and directed by the members. We are not a political party, we are a political society.
	</p>
	<p><a class="btn btn-md btn-primary" href="/how.php" role="button">Find out how</a> <a class="btn btn-md btn-success" href="/debate.php" role="button">Join the debate</a></p>
</div>

<div class="row">
	<div class="col-md-4 service-alternative">
		<div class="service">
			<i class="fa fa-wrench service-icon"></i>
			<div class="desc">
				<h2>Different</h2>
				<p>RationalVote is a different type of politics. Does it ever feel like the system is rigged? Together we can take back politics and make it ours. We're going to make democracy work for the people and not the multinationals.</p>
			</div>
		</div>
	</div>

	<div class="col-md-4 service-alternative">
		<div class="service">
			<i class="fa fa-dropbox service-icon"></i>
			<div class="desc">
				<h2>Open</h2>
				<p>We want 100% transparency and 100% accountability. We'd like to open the box and let our members reach inside. Even our website is open source.</p>
			</div>
		</div>
	</div>

	<div class="col-md-4 service-alternative">
		<div class="service">
			<i class="fa fa-rocket service-icon"></i>
			<div class="desc">
				<h2>Modern</h2>
				<p>The internet has ushered in sweeping change to every part of society. We're taking democracy online and we're making politics matter to the internet generation.</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4 service-alternative">
		<div class="service">
			<i class="fa fa-tags service-icon"></i>
			<div class="desc">
				<h2>No labels</h2>
				<p>Why pick a side and accept an extreme? We don't need the left, and we don't need the right - we just need what's <b>right</b>.</p>
			</div>
		</div>
	</div>

	<div class="col-md-4 service-alternative">
		<div class="service">
			<i class="fa fa-random service-icon"></i>
			<div class="desc">
				<h2>Rational and flexible</h2>
				<p>
					With no fixed policies, we let our members dictate our manifesto and direction.
					If you don't like our stance, speak up. We won't shy away from the
					truth if new evidence comes to light.
				</p>
			</div>
		</div>
	</div>

	<div class="col-md-4 service-alternative">
		<div class="service">
			<i class="fa fa-group service-icon"></i>
			<div class="desc">
				<h2>Together</h2>
				<p>We are only as strong as the numbers in our rank, and we need you, your friends and your family. Forget the label, forget the sides, let's unite and change the world.</p>
			</div>
		</div>
	</div>
</div>