@{
	ViewBag.Title = "Home";
	ViewBag.WidePage = true;
	ViewBag.ShowTitle = false;
}

<!-- Jumbotron -->
<div class="jumbotron">
	<h1>Debate, challenge, inform</h1>
	<p class="lead">
		RationalVote is a platform that encourages constructive discussion through structured debate. It simplifies complex topics into
		small manageable chunks that can be discussed and challenged individually. Debates can be used to promote awareness, gather feedback
		on an idea or simply have an opinion challenged.
	</p>
	<p><a class="btn btn-md btn-primary" href="/Tutorial/Step/1" role="button">Find out how</a> <a class="btn btn-md btn-success" href="/Debate/Index" role="button">Join the debate</a></p>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4 info-blocks">
			<div class="service">
				<i class="fa fa-legal icon-info-blocks"></i>
				<div class="desc">
					<h2>Neutral</h2>
					<p>
						RationalVote is politically neutral. We don't want to incite conflict by taking sides.
						Good ideas can come from anywhere on the political spectrum so we should stay focused
						on the ideas and not the person who made it.
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-4 info-blocks">
			<div class="service">
				<i class="fa fa-puzzle-piece icon-info-blocks"></i>
				<div class="desc">
					<h2>Logical</h2>
					<p>
						To keep discussion on topic and factually accurate, RationalVote attempts to keep
						only the ideas that are logically sound. Logical fallacies can be flagged and the
						content continuously improved by the community. This keeps the quality of the
						discussion high
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-4 info-blocks">
			<div class="service">
				<i class="fa fa-globe icon-info-blocks"></i>
				<div class="desc">
					<h2>Global</h2>
					<p>
						Great ideas can come from anywhere and we believe that by sharing ideas we can
						build a better world. By posting to the site you agree that your ideas may be
						seen and used by others all around the world.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 info-blocks">
			<div class="service">
				<i class="fa fa-tags icon-info-blocks"></i>
				<div class="desc">
					<h2>Relevant</h2>
					<p>
						Everybody has their own ideas, and everybody has their own interests. Pick
						only the topics that interest you and ignore the rest. This can be done by
						both tags (keywords), but also by location. Interested in the internet?
						There's a tag for that. How about economics? There's a tag for that too.
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-4 info-blocks">
			<div class="service">
				<i class="fa fa-bullhorn icon-info-blocks"></i>
				<div class="desc">
					<h2>Equal</h2>
					<p>
						If good ideas can come from anywhere, we believe anyone should be able to
						stand up and have that idea heard. All users have equal volume at
						RationalVote so your idea is just as good as anybody else's.
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-4 info-blocks">
			<div class="service">
				<i class="fa fa-code-fork icon-info-blocks"></i>
				<div class="desc">
					<h2>Open</h2>
					<p>
						RationalVote is an open source project that is free for non-commercial use.
						Help us make the project better by joining our developer community.
						Commercial licenses will be available in the future for large teams that wish
						to run their own private version of the project.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>