<p>We are not lawyers, so our privacy policy is written in plain English.</p>

<ol>
	<li>
		We won't share your data with third parties. We won't share information with government agencies unless legally compelled
		to do so by a signed court order or warrant. We will only use your email address for communications about the site and
		activities related to the site. A very small number of site administrators may have access to our databases directly,
		this will reveal your email address and a non-reversible version of your password (for those who want details we salt per user
		and use SHA256). Your original password is never stored, we will never ask for it and we cannot provide it to you if you ask.
		If you are unable to log in, please use the password reset button on the login form to recover your password.
	</li>
	<li>
		We will take every reasonable precaution to keep your information secure. Such measures include but are not limited
		to keeping all servers up to date with all security updates, minimizing access to the server to only a very small
		number of site administrators, secure and strong passwords on all administrator and service accounts.
	</li>
	<li>
		Our site is run entirely over a secure HTTP (HTTPS) connection, this is to protect your identity and safeguard your
		login details. This will <i>help</i> protect you from snooping by criminals and tyrannical governments. Our site
		is not vulnerable to Heartbleed attacks and never has been.
	</li>
	<li>
		Our site uses cookies. These will only be used when necessary to allow our site to keep you logged in. We store a user's
		IP address in our database when they log in, we will use this information purely for detecting fraudulent logins.
	</li>
	<li>
		You are entitled to request the information we hold on you. A small payment may be required depending on the work involved
		and the number of requests we receive.
	</li>
</ol>
<p>We may need to update our privacy policy in the future, if we do this we will email you to let you know about the changes.</p>