@model IEnumerable<RationalVote.Models.Notification>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Ajax.cshtml";
}

@if( Model != null && Model.Count() > 0 )
{
	<ul class="notifications">
	@{
		foreach( var notification in Model )
		{
			@Html.Partial( "_Notification", notification )
		}
	}
	</ul>
}
else
{
	<div class="center-outer">
		<div class="center-middle">
			<div class="center-inner" style="text-align:center">
				<i class="fa fa-thumbs-o-up fa-3x"></i><br /><br />You have no messages
			</div>
		</div>
	</div>
}