@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	
	int maxArgumentLength = Utility.AppSettings.Get<int>( "maxArgumentLength" );
}

<div class="row">
	<div class="col-md-2">
		@Html.Partial( "_SideBar" )
	</div>

	<div class="col-md-10">
		@RenderBody()
	</div>
</div>

@Html.RegisterScript( 
	@<script>
		$(function ()
		{
			$(".DebateInput").charCounter( @maxArgumentLength, { container: ".DebateCounter" });
		});
	</script> )

@section Scripts
{
	@Scripts.Render( "~/Scripts/ThirdParty/jqueryval" )
}
