@model DebateLink

@{
	int BoxWidth = 12;
	int SideBarWidth = 1;
	BoxWidth = BoxWidth - SideBarWidth;
	
	
}

<div class="row">
	<div class="col-md-@SideBarWidth"></div>
	<div class="col-md-@BoxWidth">
		@Html.Partial( "_DebateBlockInline", Model.Child )
		@*$opinion_box*@
	</div>
</div>