<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

		<connectionStrings>
		<add name="RationalVoteContext" connectionString="Data Source=Server=.\SQLEXPRESS;Database=RationalVoteDB;Integrated Security=true;Initial Catalog=RationalVote;Integrated Security=SSPI;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		</connectionStrings>
	
	<system.web>
		<compilation debug="false" />
		<customErrors mode="Off" />
	</system.web>
</configuration>
