<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

		<!-- Remove existing connection, the server will set it up. We don't want the UN/PW in git -->
		<connectionStrings>
		<add name="RationalVoteContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=RationalVote;Integrated Security=SSPI;" providerName="System.Data.SqlClient" xdt:Transform="Remove" xdt:Locator="Match(name)" />
		</connectionStrings>
	
	<system.web xdt:Transform="Replace">
		<compilation debug="false" />
		<httpRuntime targetFramework="4.5.1" relaxedUrlToFileSystemMapping="true" />
	</system.web>
	
	<system.webServer xdt:Transform="Replace">
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="FormsAuthentication" />
		</modules>
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="403" />
			<remove statusCode="404" />
			<remove statusCode="500" />
			<error statusCode="403" responseMode="ExecuteURL" path="/Error/Forbidden" />
			<error statusCode="404" responseMode="ExecuteURL" path="/Error/NotFound" />
			<error statusCode="500" responseMode="ExecuteURL" path="/Error/Internal" />
			<error statusCode="503" responseMode="ExecuteURL" path="/Error/SiteDown" />
		</httpErrors>
	</system.webServer>
</configuration>
