@using ActionMailer.Net;

@{
	Layout = "~/Views/Mail/_HtmlLayout.cshtml";

	string relativeURL = "/User/ResetPassword/" + ViewBag.Token;
	string link = Request.Url.GetLeftPart(UriPartial.Authority) + relativeURL;
}

<p>Hi,</p>

<p>Thank you for registering for RationalVote.</p>

<p>A password reset was requested for this account. To change your password, click the link below
where you will be asked to enter a new password.</p>

<p><a href="@link">Reset your password</a></p>

<p>Many thanks,</p>

<p>The RationalVote team</p>

