@using ActionMailer.Net;

@{
	Layout = "~/Views/Mail/_HtmlLayout.cshtml";
	
	string relativeURL = "/User/Verify/" + ViewBag.Token;
	string link = Request.Url.GetLeftPart(UriPartial.Authority) + relativeURL;
}

<p>Hi,</p>

<p>Thank you for registering for RationalVote.</p>

<p>To verify your email address and activate your account, please click the link below.</p>

<p><a href="@link">Verify your account</a></p>

<p>If you did not create this account, simply ignore this email and the account will automatically be deleted in 12 hours.</p>

<p>Many thanks,</p>

<p>The RationalVote team</p>

